<% provide(:title, "Log in") %>

<div class="container"> 

	<div class="header">
      
            <div class="navbox">
                <%= link_to(controller: "welcome", action: "index") do%>
                <p class="nav_1">
                    Easy Spicy
                </p>
                    <!-- </a> -->
                </div>
                <% end %>

          <% if logged_in? %>
            <div class = "elseholde">
          <%= link_to "Profile", user_path(current_user), class: 'profile_link' %>
         <%= link_to "Log out", logout_path, method: :delete, class: 'profile_link'%>
            </div>
          <% else %>
            <div class = "elseholde">
            <%= link_to "Login", login_path, class: 'profile_link'%>
            <%= link_to "Sign Up", signup_path, class: 'profile_link' %>
                </div>
          <% end %>
          
        </div>
    

  <div class="login">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "createor" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>








</div>

