<% provide(:title, @user.email) %>
<div class="container"> 

  <div class="header">
      
            <div class="navbox"> 
                <%= link_to(controller: "welcome", action: "index") do %>
                <p class="nav_1">
                    Easy Spicy
               </p>
                </div>
                <% end %>


          <% if logged_in? %>
          <%= link_to "Profile", user_path(current_user) %>
          <%= link_to "Log out", logout_path, method: :delete %>
          <% else %> 
          <%= link_to "Login (Chefs Only)" , login_path %>
          <% end %>
  </div>
      <h1>
          <%= @user.email %>
          <%= @user.fname %>
          <%= @user.lname %>
          <%= @user.member %>
      </h1>



 


</div>