<% provide(:title, @user.email) %>
<div class="row">
      <h1>
          <%= @user.email %>
          <%= @user.fname %>
          <%= @user.lname %>
          <%= @user.member %>
      </h1>



   <!--  <%= link_to "Users", stub %>
  	<%= link_to "Settings", stub %>
  	<%= link_to "Log out", logout_path, method: :delete %>
  	<%= link_to "Profile", current_user %> -->


</div>