<!--  
<h1>Welcome to Easy Spicy </h1>
<br />
<p> Ashwin ON HEROKU AND GITHUB YOOOOOOOO EAT FOOD PLZ WORK</p>
<p> Sethu </p>
<p> Arunghghgh </p>
<p>Find me in app/views/welcome/index.html.erb</p>

<% #Comment %> 
<br /> 
<% 11.times do |i| %> 
	<%= i %> 
<% end %> 

<br /> 

<% if params.has_key?(:id) && params.has_key?(:var) %>
	<%= "ID: " + @id.to_s %> <br />
	<%= "Name: " + @name.to_s %> 
<% end %> 
<br />
<br />

-->

<!DOCTYPE html>
<html>
<head>
<meta charset ="UTF-8">
<title> <%= @title %> </title>
<%= stylesheet_link_tag "application" %>
</head>
<body>
        
    <div class="container"> 
        
        <div class="header">
      
            <div class="navbox">
                <%= link_to(controller: "welcome", action: "index") do%>
                <p class="nav_1">
                    Easy Spicy
                </p>
                    <!-- </a> -->
                </div>
                <% end %>

          <% if logged_in? %>
            <%= link_to "Profile", user_path(current_user), class: 'profile_link' %>
          <%= link_to "Log out", logout_path, method: :delete %>
          <% else %> 
          <%= link_to "Login (Chefs Only)", login_path %>
          <% end %>
          
                
           
    
        </div>
        <!-- Header Ends -->
        <div class="main_b1"> 
            <!-- <h1> Authentic Home Cooked Indian Food </h1>
            <h2> Welcome to my website </h2>
            <h2 class="one"> Feel free to explore my website </h2>
            <h2 class="two"> to learn  more about me and Mass Academy. </h2> color: #D10F3A -->
            <div class="plate_holder"> 
            <!-- <div class="plate_holder2"> -->
            	<img src="/dish.svg" alt="rss feed" />
            <!-- </div> -->
            </div>
            <div class="fb_main">
            	<div class="fb_sethu_contain">
            		<p class="fb_title_p">
            			Craving home cooked 
            		</p>
            		<p class="fb_title_p2">
            			Indian food?
            		</p>
            		<p class="fb_title_p3">
            			Buy authentic Indian food </br>  from chefs in your local area.
            		</p>
            	</div>

            
            </div>
        </div>
        <div class="main_b2"> 
            <!-- <h1> Authentic Home Cooked Indian Food </h1>
            <h2> Welcome to my website </h2>
            <h2 class="one"> Feel free to explore my website </h2>
            <h2 class="two"> to learn  more about me and Mass Academy. </h2> -->
            
            <div class="fb_main2">
            	<div class="fb_sethu_contain2">
            		<p class="fb_title_pa">
            			Have a passion for
            		</p>
            		<p class="fb_title_p2a">
            			cooking?
            		</p>
            		<p class="fb_title_p3a">
            			Woud you like to cook Indian  </br> food for people in your area?
            		</p>
            	</div>
            </div>
            <div class="plate_holder2"> 
            <!-- <div class="plate_holder2"> -->
            	<img src="/pot.svg" alt="cooking pot" />
            <!-- </div> -->
            </div>

        </div>
        <div class="fb_prop">
        	<div class="center_block">
        		<p class="ftitle"> 5 Star Food. </br> Without The 5 Star Price. </p>
        		<div class="rice_contain"> <img src="/rice.svg" alt="cooking pot" /> </div>
        		<div class="text_contain_f"> <p class="enjoy"> Enjoy authentic Indian meals from the comfort of your own home. A healthy and less expensive alternative to </br> eating at a restaurant. </p> </div>
        	</div>

        	<div class="left_block">
        		<p class="ftitle"> Time Is Money. </br> Spend It Wisely. </p>
        		<div class="rice_contain"> <img src="/circular-clock.svg" alt="cooking pot" /> </div>
        		<div class="text_contain_f"> <p class="enjoy"> Conveniently search for cooks in your area, and order from them directly through the website. View cooks' menu, prices, and availability. </p> </div>
        	</div>

        	<div class="right_block">
        		<p class="ftitle"> Pay Conveniently. </br> Pay Securely. </p>
        		<div class="rice_contain"> <img src="/credit-card.svg" alt="cooking pot" /> </div>
        		<div class="text_contain_f"> <p class="enjoy"> Stop searching through your wallet to find the exact amount of money to give to your chef. Easily pay using a credit card through our highly secure platform.</p> </div>
        	</div>



        </div>
       

        
        <div class="about_b"> 
            <div class="mission_s"> <p class="missions"> Our Mission </p> </div>
            <div class="sksdapper"> 
            	<div class="heart_img"> <img src="/heart.svg" alt="cooking pot" /> </div>
            	<div class="heart_text"> <p class= "hearty_texty"> Our goal is to provide a healthier and cheaper alternative to restaraunts for those who </br> don't  have the time or </br> knowledge to cook Indian food themselves. </p> </div>
            </div>  

            <div class="sksdapper"> 
            	<div class="heart_img"> <img src="/india.svg" alt="cooking pot" /> </div>
            	<div class="heart_text"> <p class= "hearty_texty"> We are striving to create a platform that connects Indians Americans through something</br> that we all love: Authentic Indian Food.
 </p> </div>
            </div>  
        </div>
    </div>
           
</body>